<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Kami</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="stylesheet" href="../scss/custom.css">
</head>

<body>
    <header id="header"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 border-bottom bg-white shadow-sm">
        <div class="col-md-auto mb-2 mb-md-0">
            <a href="./index.html">
                <img src="../assets/img/logo.png" class="w-25">
            </a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="dashboard/layananKesehatan.html" class="nav-link px-2 fw-medium ">Layanan
                    Kesehatan</a></li>
            <li><a href="dashboard/statusPemesanan.html" class="nav-link px-2 fw-medium">Status Pemesanan</a></li>
            <li><a href="about.html" class="nav-link px-2 fw-bold active">Tentang Kami</a></li>
        </ul>
        <div class="col-md-3 text-end" id="authNavButtons">
            <a href="/login.html"> <button type="button" class="btn btn-outline-primary me-2"> ogin</button></a>
            <a href="/register.html"><button type="button" class="btn btn-outline-secondary">Sign-up</button></a>
        </div>
    </header>
    <main class=" bg-secondary">
        <div class=" h-100 w-100 p-5 d-flex flex-row">
            <div class="col-6 d-flex flex-column align-items-center">
                <img src="../assets/img/hero1.png" class="rounded-4 object-fit-cover mb-3" width="450px" alt="">
                <img src="../assets/img/hero2.png" class="rounded-4 object-fit-cover" width="450px" alt="">
            </div>
            <div class="col-6 ">
                <h2 class="fw-semibold text-primary">Tentang Kami</h2>
                <p class="lh-base fs-5"  style="text-align: justify;">Layanan Kesehatan Baitul Mal Tazkia adalah platform berbasis web yang hadir untuk memudahkan
                    masyarakat dalam mengajukan bantuan kesehatan secara cepat dan terorganisir. Melalui layanan
                    pemesanan ambulans gratis, peminjaman kursi roda, dan pendaftaran khitanan massal, kami berupaya
                    menjembatani kebutuhan kesehatan dengan proses yang lebih praktis dan transparan.
<br><br>
                    Sistem ini dirancang agar setiap pengajuan dapat dipantau statusnya, mulai dari proses verifikasi
                    hingga penyelesaian, sehingga masyarakat merasa lebih tenang dan terbantu dalam situasi mendesak
                    maupun kegiatan kesehatan yang terencana. Dengan mengedepankan kemudahan akses, efisiensi, dan
                    kepedulian sosial, layanan ini menjadi wujud komitmen Baitul Mal Tazkia dalam memberikan manfaat dan
                    pelayanan terbaik bagi masyarakat.</p>
            </div>
        </div>

    </main>

    <script type="module" src="../assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>

    <script src="../assets/js/api.js"></script>
    <script type="module" src="../assets/js/index.js"></script>
</body>

</html>